<div
  class="flex flex-col bg-white border border-gray-100 shadow rounded-lg overflow-hidden group w-full max-w-85 mx-auto h-full"
>
  <div class="relative w-full h-56 overflow-hidden bg-gray-100">
    <span
      class="absolute top-3 left-3 z-20 bg-white text-gray-600 text-xs font-semibold px-3 py-1 rounded-full shadow-sm"
    >
      {{ giftItem().category }}
    </span>

    <img
      [src]="giftItem().images"
      [alt]="giftItem().name"
      class="w-full h-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-110"
    />

    @if (giftItem().reservedBy) {
      <div
        class="absolute inset-0 bg-white/60 backdrop-blur-sm z-30 flex items-center justify-center transition-all duration-300"
      >
        <span
          class="bg-green-800 text-white text-sm font-bold uppercase tracking-wider px-6 py-2 rounded-full shadow-md"
        >
          Reservado
        </span>
      </div>
    } @else {
      <div
        class="absolute inset-0 bg-black/30 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-end p-4 z-10"
      >
        <p class="text-white text-sm leading-snug mb-4 line-clamp-3 drop-shadow-md">
          {{ giftItem().description }}
        </p>

        <div class="flex gap-2">
          <button
            (click)="onReserveClick()"
            class="flex-1 bg-white/95 text-gray-900 rounded-lg py-2 font-semibold text-sm flex justify-center items-center gap-2 hover:bg-white transition-colors cursor-pointer shadow-sm"
          >
            <ng-icon name="lucideGift" class="text-base"></ng-icon>
            Reservar
          </button>

          @if (giftItem().externalLink) {
            <a
              [href]="giftItem().externalLink"
              target="_blank"
              rel="noopener noreferrer"
              class="bg-white/20 hover:bg-white/30 text-white w-10 h-10 flex justify-center items-center rounded-lg transition-colors border border-white/20 shadow-sm cursor-pointer"
            >
              <ng-icon name="lucideExternalLink" class="text-base"></ng-icon>
            </a>
          }
        </div>
      </div>
    }
  </div>

  <div class="p-4 flex flex-col grow">
    <h3 class="text-md font-bold mb-1">{{ giftItem().name }}</h3>
    <p class="text-sm font-normal text-gray-500 line-clamp-2">{{ giftItem().description }}</p>
    <p class="text-xl font-semibold mt-4">R$ {{ giftItem().price | number: '1.2-2' }}</p>
  </div>
</div>
