<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-sm p-4">
  <div class="bg-white rounded-2xl overflow-hidden w-full max-w-md shadow-2xl relative">
    <button
      (click)="onCloseClick()"
      class="absolute top-4 right-4 bg-white/90 text-gray-500 hover:text-gray-800 rounded-full w-8 h-8 flex items-center justify-center shadow-sm z-10 transition-colors"
    >
      <ng-icon name="lucideX"></ng-icon>
    </button>

    <div class="h-48 w-full bg-gray-100 relative">
      <div class="absolute inset-x-0 bottom-0 h-16 bg-linear-to-t from-white to-transparent"></div>
      <img [src]="gift()?.images" class="w-full h-full object-cover" />
    </div>

    <div class="p-6">
      <h2 class="text-lg font-bold text-gray-900 leading-tight">{{ gift()?.name }}</h2>
      <p class="text-xl font-bold text-gray-900 mt-1 mb-6">
        R$ {{ gift()?.price | number: '1.2-2' }}
      </p>

      <form class="flex flex-col gap-5">
        <div>
          <label class="block text-xs font-bold text-gray-500 mb-1.5 uppercase tracking-wider"
            >Seu Nome</label
          >
          <input
            type="text"
            placeholder="Digite seu nome completo"
            class="w-full bg-gray-50 border border-gray-100 rounded-lg px-4 py-3 text-sm text-gray-700 outline-none focus:border-gray-300 focus:bg-white transition-colors"
          />
        </div>

        <div>
          <label class="block text-xs font-bold text-gray-500 mb-1.5 uppercase tracking-wider"
            >Seu Telefone</label
          >
          <input
            type="tel"
            placeholder="(00) 00000-0000"
            class="w-full bg-gray-50 border border-gray-100 rounded-lg px-4 py-3 text-sm text-gray-700 outline-none focus:border-gray-300 focus:bg-white transition-colors"
          />
        </div>

        <button
          type="button"
          (click)="onConfirmClick()"
          class="w-full bg-slate-500 hover:bg-slate-600 text-white font-medium py-3.5 rounded-lg mt-2 transition-colors flex justify-center items-center gap-2 shadow-sm"
        >
          <ng-icon name="lucideGift" class="text-lg"></ng-icon>
          Confirmar Reserva
        </button>
      </form>
    </div>
  </div>
</div>
