<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-sm p-4">
  <div class="bg-white rounded-2xl overflow-hidden w-full max-w-md shadow-2xl relative">
    <button
      (click)="onCloseClick()"
      class="absolute top-4 right-4 bg-white/90 text-gray-500 hover:text-gray-800 rounded-full w-8 h-8 flex items-center justify-center shadow-sm z-10 transition-colors"
    >
      <ng-icon name="lucideX"></ng-icon>
    </button>

    <div class="h-48 w-full bg-gray-100 relative">
      <div class="absolute inset-x-0 bottom-0 h-16 bg-linear-to-t from-white to-transparent"></div>
      <img [src]="gift()?.images" class="w-full h-full object-cover" />
    </div>

    <div class="p-6 space-y-2">
      <h2 class="text-lg font-bold text-gray-900 leading-tight">{{ gift()?.name }}</h2>
      <h2 class="text-xs text-gray-900 leading-tight">{{ gift()?.description }}</h2>

      @if (!isReservedSuccess()) {
        <p class="text-xl font-bold text-gray-900 mt-1 mb-6">
          R$ {{ gift()?.price | number: '1.2-2' }}
        </p>

        <form [formGroup]="reserveForm" class="flex flex-col gap-5">
          <div>
            <label class="block text-xs font-bold text-gray-500 mb-1.5 uppercase tracking-wider"
              >Seu Nome</label
            >
            <input
              type="text"
              formControlName="name"
              placeholder="Digite seu nome completo"
              class="w-full bg-gray-50 border border-gray-100 rounded-lg px-4 py-3 text-sm text-gray-700 outline-none focus:border-gray-300 focus:bg-white transition-colors"
              [class.border-red-500]="
                reserveForm.controls.name.invalid && reserveForm.controls.name.touched
              "
            />
            @if (reserveForm.controls.name.invalid && reserveForm.controls.name.touched) {
              <span class="text-xs text-red-500 mt-1">O nome é obrigatório.</span>
            }
          </div>

          <div>
            <label class="block text-xs font-bold text-gray-500 mb-1.5 uppercase tracking-wider"
              >Seu Telefone</label
            >
            <input
              type="tel"
              formControlName="phone"
              placeholder="(00) 00000-0000"
              class="w-full bg-gray-50 border border-gray-100 rounded-lg px-4 py-3 text-sm text-gray-700 outline-none focus:border-gray-300 focus:bg-white transition-colors"
              [class.border-red-500]="
                reserveForm.controls.phone.invalid && reserveForm.controls.phone.touched
              "
            />
            @if (reserveForm.controls.phone.invalid && reserveForm.controls.phone.touched) {
              <span class="text-xs text-red-500 mt-1">Insira um telefone válido com DDD.</span>
            }
          </div>

          <button
            [disabled]="isSaveLoading()"
            type="button"
            (click)="onConfirmClick()"
            class="w-full bg-slate-500 hover:bg-slate-600 text-white font-medium py-3.5 rounded-lg mt-2 transition-colors flex justify-center items-center gap-2 shadow-sm"
          >
            @if (isSaveLoading()) {
              <div class="flex justify-center items-center text-white">
                <svg
                  class="animate-spin h-7 w-7"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"
                  ></circle>
                  <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  ></path>
                </svg>
              </div>
            } @else {
              <ng-icon name="lucideGift" class="text-lg"></ng-icon>
            }
            Confirmar Compra
          </button>
        </form>
      } @else {
        <div class="flex flex-col items-center gap-4">
          <h1 class="text-4xl">🎉</h1>
          <h1 class="text-2xl font-bold">Parabéns!</h1>
          <h2 class="text-green-600 font-medium">Sua reserva foi realizada com sucesso!</h2>
        </div>
        <button
          [disabled]="isSaveLoading()"
          type="button"
          (click)="onCloseClick()"
          class="w-full bg-gray-500 hover:bg-gray-600 text-white font-medium py-2 rounded-lg mt-6 transition-colors flex justify-center items-center gap-2 shadow-sm"
        >
          Fechar
        </button>
      }
    </div>
  </div>
</div>
