<!-- Header -->
<header class="flex flex-col items-center justify-center space-y-6 mt-8">
  <div class="flex items-center justify-center gap-3">
    <div class="h-px w-12 bg-gray-300"></div>
    <span class="text-gray-300 text-md flex items-center">
      <ng-icon name="lucideHeart"></ng-icon>
    </span>
    <div class="h-px w-12 bg-gray-300"></div>
  </div>
  <div>
    <h3 class="tracking-widest">LISTA DE CASAMENTO</h3>
  </div>
  <div class="flex flex-col items-center gap-2">
    <h1 class="text-4xl font-bold">Livia & Vinicius</h1>
    <p class="text-md text-gray-400">17 de Julho, 2027</p>
  </div>
  <app-countdown targetDateStr="17/07/2027"></app-countdown>
</header>

<!-- Main -->
<main class="flex flex-col justify-center items-center mt-15 space-y-8">
  <div class="gap-2 flex flex-wrap justify-center items-center w-full max-w-3xl">
    @for (item of filters; track $index) {
      <button
        class="transition-colors duration-300 ease-in-out px-4 text-sm py-2 rounded-md font-medium flex gap-2 items-center"
        [class]="
          isSelected === item.id
            ? 'bg-black text-white hover:bg-black/80'
            : 'bg-gray-100 hover:bg-black/10'
        "
        (click)="handleChangeFilter(item.id)"
      >
        <ng-icon [name]="item.icon" class="text-md"></ng-icon>
        {{ item.name }}
      </button>
    }
  </div>

  <div
    class="flex flex-col items-start gap-3 my-4 w-full max-w-6xl mx-auto px-12 mb-6 justify-start"
  >
    <span class="text-sm font-medium text-gray-600"> Exibir itens reservados </span>

    <button
      type="button"
      (click)="toggleReserved()"
      class="relative inline-flex h-6 w-11 shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-300 ease-in-out focus:outline-none"
      [class]="showReserved() ? 'bg-green-800' : 'bg-gray-300'"
      role="switch"
    >
      <span
        class="pointer-events-none inline-block size-5 transform rounded-full bg-white shadow ring-0 transition duration-300 ease-in-out"
        [class]="showReserved() ? 'translate-x-5' : 'translate-x-0'"
      ></span>
    </button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
    @for (item of gifts; track $index) {
      <app-gift-card [giftItem]="item" (reserve)="openModal($event)"></app-gift-card>
    }
  </div>
</main>

<footer>
  <!-- Aqui vai ficar um footer -->
</footer>

@if (isModalOpen()) {
  <app-reserve-dialog
    (close)="closeModal()"
    (confirm)="confirmReservation()"
    [gift]="selectedGift()"
  ></app-reserve-dialog>
}
